{% extends 'basepdf.html.twig' %}

{% block title %}
{{parent()}} Ingresos Mensuales
{% endblock %}

{% block stylesheets %}
<style>

    img{
		width: 175px;
	}

    table {
        width: 100%;
        font-family:arial;
        font-size:12px;
        border-collapse: collapse;
    }    

    th {
		padding: 5px;
		font-family:arial;
		text-align: center;
		border: 1px solid #000000;
		height: 25px;
		background-color: #5dc1b9;
		color: white;
		font-size:18px;
	}

    td {
        width: 100%;
		padding: 2px;
		font-family:arial;
        font-size:15px;
		border: 1px solid #000000;
		height: 25px;
	}

    h1 {
		text-align: center;
	}
    
	footer {      
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size:12px;
    }

	.pagenum:before {
		font-family: arial;
        color: #000000;
        content: counter(page);
    }

</style>
{% endblock %}


{% block body %}

    <label style="float:right;"> Fecha de impresion: {{ fechas|date('d-m-Y') }} </label>

    <head>
        <img src="http://localhost/Vivaric/public/images/castilloalv.png">
    </head>

    <body> 
        <h1>Reporte de Ingresos del mes: {{ fechas|date("M") }}</h1>
        <br>
        <div>
            <table>
                <tr>
                    <th># Comprobante</th>
                    <th>Serie Comprobante</th>
                    <th>Tipo Comprobante</th>
                    <th>Fecha</th>
                    <th>Impuestos</th>
                    <th>Estado</th>
                    <th>Persona</th>
                    <th>Proveedor</th>
                </tr>
                {% for i in ingresos %}
                <tr>
                    <td> {{ i.numcomprobante }} </td> 
                    <td> {{ i.seriecomprobante }} </td> 
                    <td> {{ i.tipocomprobante }} </td> 
                    <td> {{ i.fechahora|date('d-m-Y') }} </td>  
                    <td> {{ i.impuesto }} </td>  
                    <td> {{ i.estado }} </td>  
                    <td> {{ i.persona }} </td>  
                    <td> {{ i.proveedores }} </td>   
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
    <footer>
        <span class="pagenum"></span>
    </footer>
{% endblock %}